
<!-- header view -->
<link href="../css/header.css" rel="stylesheet">
<header id="layout-header">
  <nav>
      <div class="mini-logo">
          <p>
              <a href='/dashboard'>
                  PlacementCell
              </a>
          </p>
      </div>
  
      <div class="auth-links">
          <ul>
              <!-- checking user if present will show signout and reset password link in header -->
              <% if (locals.user){ %>
              
              <li>
                <a class="navbar-brand" href="/dashboard">Dashboard</a>
              </li>
              <li>
                <a class="navbar-brand" href="/student/add-student">AddStudent</a>
              </li>
              <li>
                   <!-- link to signout -->
                   <a class="navbar-brand" href="/interview/add-interview"
                   >Add Interview</a
                              </li>
                 <li>
                  <!-- link to signout -->
                  <a class="navbar-brand" href="/download">Report</a>
                             </li>
                <li>
                  <!-- link to signout -->
                  <a class="navbar-brand" href="/sign-out">SignOut</a>
                </li>
                <div>
                 <a href="/profile"> <img src="../images/profile.png" style="margin-top: -2rem;width: 2.5rem;height: 2.5rem;"></a>
                  <li style="margin-top: -1rem;margin-top: -1rem;">
                    <%= user.username %>
                </li>
                </div>
              
      
              <% } %>
          </ul>
      </div>
  </nav>



</header>
